/*@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Chewy.ttf);
}*/



*{
	box-sizing: border-box;
}


html, body{
	/*height: 100%;*/
	background: url(../img/bg6.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



/*	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/

	/*background-color: black;*/
	
	/*font-weight: */
	
}

body{

	height:auto;
	margin-top: 7rem;
	font-family: Helvetica;
	font-size: 12px;	
}
	


h1 {
	font-family: 'myFirstFont', cursive;
	text-align: center;
	color: white;
	margin-top: 5rem;

}


.movie-logo{
	margin-right: 1rem;
}

button{
	background-color: #ccc;
	color: white;
	border: 1px solid #ccc;
	padding: 1rem;
	border-radius: 5px;
	transition: .5s ease-in background-color;
	cursor: pointer;
}


.btn-primary.active{
	background-color:#337ab7;
	border-color:#2e6da4;
}


/*input, select, textarea, button[type="submit"]{
	font-size: 1.25rem;
	padding: 1rem;
	border-radius: 5px;
	border:1px solid #ccc;
	margin-bottom: 1rem;
	min-width: 400px;
}*/




/*Log in btn and form */

.dropdown-menu li a:hover {
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu li a{
	font-size: 1.2rem;
	color: #1b6aff;
}

.dropdown-menu{
	color: #ddf6ff;
}

#login-btn:hover{
	background-color: #ccccff;
	color:#000;
	transition: all .2s ease-in;
}

/*----------------------*/

/*Submit Sharing Request Loading Animation*/
#loader{
	position: absolute;
	left: 50%;
	top: 70%;
	z-index: 1;
	width: 100px;
	height: 100px;
	margin: -75px 0 0 -75px;
	border: 15px solid #3498db;
	border-top: 15px solid #f3f3f3;
	border-radius: 50%;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin{
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin{
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

/*Add animation to "page content"*/
.animate-bottom{
	position: relative;
	-webkit-animation-name: animatebottom;
	animation-duration: 2s;
}

@-webkit-keyframes animatebottom{
	from {bottom: -100px; opacity:0}
	to {bottom: 0px; opacity:1}
}

@keyframes animatebottom{
	from {bottom: -100px; opacity: 0}
	to {bottom: 0px; opacity: 1}
}

#myDiv{
	display: none;
	text-align: center;
}
	
#loader-body{
    padding-bottom: 25.25%;
}

/*---------------------*/


/*Sharing Trip Page*/

#sharing-nav a{
	color: white;
	cursor: pointer;
}

#sharing-nav{
	font-size: 2rem;
	text-align: center;
	background-color: rgb(0,0,0);
}

.share-content h2{
	text-align: center;
}

.share-content{
	width: 100%;
	height: 1000px;
	background-color: rgba(255,255,255,0.6);
}

.thumbnail p{
	font-size: 1.5rem;
}

.thumbnail{
	margin: 3rem;
}

#ultra-logo{
	margin: 5% 40% 0 40%;
	width: 20%;
}

/*==================*/

.contact-form h3{
	float: left;
	color:black;
}

.contact-form{
	padding: 20px;
}

textarea.form-control {
    height: 10rem;
}

.contact-form{
	min-width: 400px;
	width: 40px;
	margin-left: auto;
	margin-right: auto;
}

.btn-blue{
	margin-left: 1.5rem;
	background-color: #0D95FF;
}

.btn-blue:hover{
	background-color: #042A7D;
	/*font-size: 1.5rem;*/
}

.create_detail{
	float: left;
	text-align: left;
	position: relative;
    left: -4rem;
}

#create_btn{
	margin-top: 8rem;
}

#request-form{
    position: relative;
    padding: 0;
}


#left-poster, #mid-poster, #right-poster{
	margin:0;
	background-color: #ccc;
	background:rgba(0,0,0,.6);
}

.poster-wrapper{
		width: 32%;
		height:auto;
		padding: 12px;
		display: inline-block;
		color: white;
		transition: .3s linear padding;
		position: relative;
		font-size: 15px;
}

.poster-wrapper h2{
	color: #f0f0f0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}

.poster-wrapper:hover{
	padding: 1px;
	
}

.poster-wrapper img{
	opacity: .8;
	transition: .5s ease-in opacity;
	border: 1px solid white;
}

.poster-wrapper img:hover{
	opacity: 2;

}

.poster-selection{
	margin-bottom: 6rem;
	text-align: center;
}

img{
	/*width: 400px;*/
	width: 100%;
}

a{
	text-decoration: none;
	color: white;
}

/*Navigation Bar*/

.dropdown-toggle:hover{
	color: white;
}

.dropdown-toggle{
	color: #ccc;
	font-size: 1.2rem;
	transition: all .4s ease-in;
}

nav ul li{
	display: inline-block;
	color: #ccc;
	font-size: 1.2rem;
	padding: 1rem;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	cursor: pointer;
	transition: all .2s ease-in;
}

nav ul li:hover	{
	color: white;
}

nav{

	text-align: right;
}


.navbar-brand {
	width: 150px;
	height: 100%;

}

/*---------Mobile Login dropdown menu------------*/
.dropdown-menu {
	background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 170px;
    padding: 0px 0;
    margin: 0px 0 0;
    font-size: 0px;
    text-align: right;
    list-style: none;
    border-radius: 0px;
    
}



/*---------------------------*/

th, td{
	border: 1px solid white;
	color: white;
	padding: 1rem;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.contact-selection{
	color: white;
	text-align: left;
	margin-right: 150px;
	margin-left:  150px;
}

.content-wrapper img{
	width: 20%;
	opacity: .8;
	border: 1px solid white;
	/*position: justify;*/
}

.content-wrapper *{
	display: inline-block;
	vertical-align: top;
}

/*.content-selection{
	text-align: right;
}*/

.content-p{
	display: inline-block;
	vertical-align: top;
}


/*-----------------Top 20 Artists----------------------*/
.left-nav img{
	margin-bottom: 1rem;
	opacity: .8;
	transition: .2s ease-in opacity;
}

.left-nav img:hover{
	opacity: 2;
	cursor: pointer;
}

.left-nav h1{
	font-family: 'Playball-Regular', cursive;
	margin-left: -2rem;
	width: 200px;	
}

.left-nav{
	position: fixed;
	overflow-y:scroll;
	top: 0;
	bottom: 0;
	height: auto;
	margin-left: 2rem;
	margin-top: 6rem;
	width: 15%;
	padding-bottom: 5rem;

}


.top20art-content{
/*	top: 0;
	bottom: 0;*/
	margin-bottom:5rem; 
}

.top20art-content img{
	margin: 20px auto;
	display: block;
 	width: 500px; 
 	border-radius: 2px;
}

.top20art-content p{
	font-size: 15px;
	color: white;
	margin: 25px 5px 20px 25px;
    padding: 0 16px;
}

.dvlm-content{
	background-color: #ccc;
	background:rgba(0,0,0,.6);
	margin-top: 5rem;
	margin-right: 5rem;
	float: right;
	width: 150%;
	height: auto;

}

.hardwell-content{
	background-color: #ccc;
	background:rgba(0,0,0,.6);
	margin-top: 11rem;
	margin-right: 5rem;
	float: right;
	width: 150%;
	height: auto;
}

.martin-content{
	background-color: #ccc;
	background:rgba(0,0,0,.6);
	margin-top: 11rem;
	margin-right: 5rem;
	margin-bottom:5rem;
	float: right;
	width: 150%;
	height: auto;
}


/*-----------------*/



/*-----------------About html style----------------------*/
.about-content h1{
	padding-top: 1.5rem;
}

.about-content p{
	font-size: 14px;
	margin:3rem;
	color:#fff;
	line-height: 2rem;
}

.about-content{
	width: 800px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color:rgba(0,0,0,0.5);
}
/*----*/


/*-----------------Footer style----------------------*/
footer{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.9);
	text-align: right;
	padding: 1rem;
}

footer ul{
	margin: 0;
	padding-right: 3rem;
}

footer ul li{
	display: inline-block;
	color: white;
	margin: 0 1rem;
}

.fa{
	cursor: pointer;
	color:#fff;
	margin-left: 1.5rem;
}
/*-----------------Footer style----------------------*/


.banner-slider{
	top:-2rem;
	width:auto;
}

.contact-form{
	text-align: center;
}

.video-indicators {
	bottom: 10px;
}

.video-slider {
	width: 30%;
	margin: 2rem;
	padding: auto;
	display: inline-block;

}

.video-slider iframe{
	/*position: absolute;*/
	/*top: 0;
	left: 0;*/
	width: 100%;
	height: 100%;
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}*/

/* ----------- Retina Screens ----------- */
/*@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}*/

/*@media(max-width: 1120px){
	.navbar-nav{
		margin-top: 1rem;
	}
	.poster-wrapper h2{
		font-size: 2rem;
	}
}
 */
/*@media (min-width: 768px){*/
/*    .navbar-nav{
       margin: 0;
       margin-top: 1rem;
    }*/
    /*	.navbar-nav{
		margin-top: 1rem;*/
/*	}
	.poster-wrapper h2{
		font-size: 2rem;
	}
}*/

/*@media (max-width: 767px){
	.poster-wrapper h2{
	font-size: 3rem;	
	}
	.poster-wrapper{
	width:100%;
	}
	nav ul li {
	font-size: 1rem;
    width: 100%;
    padding-right:3rem;
    margin: 
    border: none;
    border-bottom: 1px solid #666;
  	}

}*/
/* Big Screen */
@media (min-width: 1200px) { 
	.poster-wrapper h2{
		font-size: 2rem;
	}
}
 
/* Tablet、Portrait on and noraml desktop resolution */
@media (min-width: 768px) and (max-width: 979px) { 
		


}
 
/* 橫向智慧手機到竪立平板電腦解析度 */
@media (max-width: 767px) {
	/*index page*/
  	.sumbit-btn{
  		margin-left: 5rem;
  	}


  

	.poster-wrapper h2{
	font-size: 3rem;	
	}
	.poster-wrapper{
	width:100%;
	}
	nav ul li {
	font-size: 1rem;
    width: 100%;
    padding-right:3rem;
    margin: 0;
    border: none;
    border-bottom: 1px solid #666;
  	}
  	.top20art_content{
  	width: 40%;
    float: right;
    position: relative;
    left: 56px;
  	}
  	.top20art_content img{
  	width: 100%;
  	}


}
 
/* 橫向智慧手機及其他更小解析度 */
@media (max-width: 480px) { 
		#login-page{
  		height: 70%;
  		}

  		.share-content{
  			height: auto;
  		}

  		.left-nav{
  			padding: 1rem;
  			margin: 0;
  			width: 100%;
  			position: inherit;
  		}
  		.top20art-content{
  			width: auto;
  		}
  		.left-nav h1 {
    	width: 278px;
    	}
 
    	.dvlm-content h1 ,p{
  		padding:0 3rem 0 3rem; 
  		color: white;
		}
    	.dvlm-content {
    	margin-right: 0rem;
   		width: 100%;
    	height: auto;
		}
		.hardwell-content {
		margin-right: 0rem;
   		width: 100%;
    	height: auto;
		}
		.martin-content{
		margin-right: 0rem;
   		width: 100%;
    	height: auto;
		}

}
